<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> <!-- Make sure this path is correct -->
  <link rel="stylesheet" href="/css/home.css">
  <script src="./index.js"></script>
  <title>Document</title>
</head>
<body>
  <!-- start navbar -->
  <div class="navBar">
    <!-- navbar Top -->
    <div class="navTop">
      <img src="./src/icons/puz.png" alt="puz">
      <span>30% off storewide — Limited time! </span>
      <button>Shop Now</button>
      <img src="./src/icons/arrow-right.png" alt="arrow_nav">
    </div>
    <!-- Navbar Bottom -->
    <div class="navBottom">
      <div class="logo">3legant.</div>
        <ul>
          <li><a href="Home">Home</a></li>
          <li><a href="Shop">Shop</a></li>
          <li><a href="Product">Product</a></li>
          <li><a href="Contact_Us">Contact Us</a></li>
        </ul>
        <div class="icons">
          <a href="profile"><i class="fas fa-user"></i> </a>
          <a href="#"><i class="fas fa-search"></i> </a>
          <a href="#"> <i class="fas fa-shopping-bag"></i></a>
        </div>
    </div>
  </div>
  <!-- end navbar -->

  <!-- start hero section -->
  <div class="hero">
    <div class="content">
      <h1>Listen to <br>
        the <span>amazing</span> music sound.</h1>
        <p>Experience music like never before</p>
        <button>Shopping Now</button>
    </div>
  </div>
  <!-- end hero section -->
  <!-- start marque -->
  <div class="marques">
    <img src="./src/marques/first.svg" alt="" srcset="">
    <img src="./src/marques/second.svg" alt="" srcset="">
    <img src="./src/marques/third.svg" alt="" srcset="">
    <img src="./src/marques/fourth.svg" alt="" srcset="">
    <img src="./src/marques/fifth.svg" alt="" srcset="">
    <img src="./src/marques/sixth.svg" alt="" srcset="">
  </div>
  <!-- end marque -->
  <!-- start Shop Collection -->
  <div class="shop">
    <h1 class="title_section">Shop Collection</h1>
    <div class="cards">
      <div class="Headband card">
        <div class="discription">
          <h1>Headband</h1>
          <div class="coll">
            <p>Collection</p>
            <i class="fas fa-arrow-right"></i>
          </div>
        </div>
      </div>
      <div class="two">
        <div class="Earbuds card">
          <div class="discription">
            <h1>Earbuds</h1>
            <div class="coll">
              <p>Collection</p>
              <i class="fas fa-arrow-right"></i>
            </div>
          </div>
        </div>
        <div class="Accessories card">
          <div class="discription">
            <h1>Accessories</h1>
            <div class="coll">
              <p>Collection</p>
              <i class="fas fa-arrow-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end Shop Collection -->
  <!-- start Best Seller -->
  <div class="bestSeller">
    <h1 class="title_section">Best Seller</h1>
    <div class="products">

      <div class="product">
        <div class="p1 p ">
        </div>
        <img src="./src/products/rating.svg" alt="">
        <div class="type">Sony - WH-1000XM5 Wireless</div>
        <div class="name"> Noise Canceling</div>
        <div class="price">$299.99</div>
      </div>
      
      <div class="product">
        <div class="p2 p ">
        </div>
        <img src="./src/products/rating.svg" alt="">
        <div class="type">Beats</div>
        <div class="name">Studio Pro</div>
        <div class="price">$349.99</div>
      </div>

      <div class="product">
        <div class="p3 p">
        </div>
        <img src="./src/products/rating.svg" alt="">
        <div class="type">Sony - WH-CH720N Wireless </div>
        <div class="name">Noise Canceling</div>
        <div class="price">$149.99</div>
      </div>

      <div class="product">
        <div class="p4 p">
        </div>
        <img src="./src/products/rating.svg" alt="">
        <div class="type">Skullcandy - Rail True</div>
        <div class="name"> Wireless Earbuds</div>
        <div class="price">$79.99</div>
      </div>

      <div class="product">
        <div class="p5 p">
        </div>
        <img src="./src/products/rating.svg" alt="">
        <div class="type">Beats </div>
        <div class="name">Studio Pro</div>
        <div class="price">$249.99</div>
      </div>

      <div class="product">
        <div class="p6 p">
        </div>
        <img src="./src/products/rating.svg" alt="">
        <div class="type">JBL Reflect Flow Pro+ Bluetooth </div>
        <div class="name">Truly Wireless Sports</div>
        <div class="price">$179.95</div>
      </div>

      <div class="product">
        <div class="p7 p">
        </div>
        <img src="./src/products/rating.svg" alt="">
        <div class="type">Bose</div>
        <div class="name">QuietComfort Headphones</div>
        <div class="price">$349.00</div>
      </div>

      <div class="product">
        <div class="p8 p">
        </div>
        <img src="./src/products/rating.svg" alt="">
        <div class="type">AKG</div>
        <div class="name">Y600NC Wireless</div>
        <div class="price">$349.99</div>
      </div>
    </div>
  </div>
  <!-- end Best Seller -->
  <!--start counter  -->
  <div class="counter">
    <img src="./src/person.svg" alt="">
    <div class="content">
      <span>PROMOTION</span>
      <h1>Hurry up! 40% OFF</h1>
      <p>Thousands of high tech are waiting for you</p>
      <p>Offer expires in:</p>
      <div class="count">
        <div class="days">02</div>
        <div class="hours">12</div>
        <div class="min">45</div>
        <div class="sec">05</div>
      </div>
      <button>Shop now</button>
    </div>
  </div>
  <!--end counter  -->
  <!-- start services -->
  <div class="services">
    <div class="card">
      <img src="./src/services/shipping.svg" alt="">
      <h3>Free Shipping</h3>
      <p>Order above $200</p>
    </div>
    <div class="card">
      <img src="./src/services/money.svg" alt="">
      <h3>Money-back</h3>
      <p>30 days guarantee</p>
    </div>
    <div class="card">
      <img src="./src/services/security.svg" alt="">
      <h3>Secure Payments</h3>
      <p>Secured by Stripe</p>
    </div>
    <div class="card">
      <img src="./src/services/phone.svg" alt="">
      <h3>24/7 Support</h3>
      <p>Phone and Email support</p>
    </div>
  </div>
  <!-- end services  -->
  <!-- start instagram  -->
  <div class="instagram">
    <span>newsfeed</span>
    <h1>Instagram</h1>
    <h3>Follow us on social media for more discount & promotions</h3>
    <p>@hammadou_islem</p>
  </div>
  <!-- end   instagram  -->
  <!-- start gallery -->
  <div class="gallery">
    <img src="./src/gallery/1.svg" alt="#">
    <img src="./src/gallery/2.svg" alt="#">
    <img src="./src/gallery/3.svg" alt="#">
    <img src="./src/gallery/4.svg" alt="#">
  </div>
  <!-- end gallery -->
  <!-- start email join -->
  <div class="email">
    <h1>Join Our Newsletter</h1>
    <h5>Sign up for deals, new products and promotions</h5>
    
  <div class="input_container">
    <i class="fa fa-envelope icon"></i>
    <input class="input-field" type="text" placeholder="Email Adress" name="email">
    <span>Signup</span>
  </div>
  </div>
  <!-- end email join -->
  <!-- start footer -->
  <footer>
    <div class="topFooter">
      <div class="partOne">
        <div class="logoFooter">3legant.</div>
        <div class="shape"> | </div>
        <div>Headphone Store</div>
      </div>
      <div class="partTwo">
        <div>Home</div>
        <div>Shope</div>
        <div>Product</div>
        <div>Blog</div>
        <div>Contact Us</div>
      </div>
    </div>
    <div class="ligne"></div>
    <div class="bottomFooter">
      <div class="bottomFooterleft">
        <span>Copyright © 2023 3legant. All rights reserved</span>
        <p>Privacy Policy</p>
        <p>Terms of Use</p>
      </div> 
      <div class="bottomFooterRight">
        <b>HAMMADOU Islem & FEKIR Rania</b>
      </div>
      
    </div>
  </footer>
  <!-- end footer -->
</body>
</html>
