<!-- reset-password-form.ejs -->
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Password Reset</title>
</head>
<body>
  <div class="everything">
    <div class="centered">
      <img class="image" src="/src/Left.png" >
    </div>
    <div class="flash-message">
      <% if (message) { %>
          <%= message %>
      <% } %>
  </div>  
    <form action="/reset-password/<%= token %>" method="post">
      <h1>Reset Password</h1>
      <div class="container">
        <input type="password" placeholder="New Password" name="password" required>
        <button type="submit">Reset Password</button>  
      </div>
    </form>
  </div>
</body>    
</html>
